<head>
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<div class="login-card">
    <h2>Perfil</h2>
    <div class="data" action="/api/sessions/register" method="post">
        <div class="textbox">
            <p>{{username}}</p>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <p>{{first_name}} {{last_name}}</p>
            <span class="material-symbols-outlined">badge</span>
        </div>
        <div class="textbox">
            <p>Edad: {{age}}</p>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <p>{{email}}</p>
            <span class="material-symbols-outlined">mail</span>
        </div>
        <div class="textbox">
            <p>rol: {{role}}</p>
            <span class="material-symbols-outlined">settings_accessibility</span>
        </div>

        <a href="/views/products" style="text-decoration: none;">Volver <span class="material-symbols-outlined">arrow_forward</span></a>
        
        <a href="/api/sessions/logout" >Cerrar sesion <span class="material-symbols-outlined">logout</span></a>
    </div>
</div>