<div>
    
    <h3>{{this.title}}</h3>
    {{#if randomUser }}
        <h4 style="color:orange">Datos del usuario</h4>
        <br>
        <p style="color:orange">id: {{randomUser.id}} </p>
        <p style="color:orange">name: {{randomUser.name}}</p>
        <p style="color:orange">age: {{randomUser.age}}</p>
        <p style="color:orange">email: {{randomUser.email}}</p>
        <p style="color:orange">address: {{randomUser.address}}</p>
        <hr>
        {{#if isAdmin}}
            {{#each food}}
                    <p style="color:brown">name: {{this.name}}</p>
                    <p style="color:brown">price: {{this.price}}</p>
            {{/each}}
        {{else}}
            <span style="color:red">No tiene permisos para ver las comidas</span>
        {{/if}}

    {{/if}}

    {{#each allProducts}}
    <p>
        id: {{this.id}}
        title: {{this.title}}
        description: {{this.description}}
        price: {{this.price}}
        thumbnail: {{this.thumbnail}}
        code: {{this.code}}
        stock: {{this.stock}}
        category: {{this.category}}
        status: {{this.status}}
    </p>
    <hr>
        
    {{/each}}
</div>