<head>
    <link rel="stylesheet" href="/view.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<div class="bg-white flex flex-col h-full">
    <div class="flex justify-between">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Productos</h2>
        <div class="flex text-center">
            <p>¡Bienvenido {{username}}!</p>
            {{#if showRole}}
                <p>Usted es {{showRole}}</p>
            {{/if}}
        </div>
        <div>
            <a href="/api/sessions/current"><span class="material-symbols-outlined m-2">account_circle</span></a>
            <a href="/views/carts/{{cart_ID}}"><span class="material-symbols-outlined">shopping_cart</span></a>
        </div>
    </div>
    <div class="flex-1 mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8">
        <div class=" grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3 lg:grid-cols-3 xl:gap-x-8">
            {{#each convertData}}
                <div class="relative">
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80">
                        <img src="{{this.thumbnail}}" alt="{{this.title}}" class="h-full w-full object-cover object-center">
                    </div>
                    <div class="mt-4 flex justify-between items-center">
                        <div class="flex-grow">
                            <h3 class="text-sm text-gray-700">
                                <span aria-hidden="true" class="absolute"></span>
                                {{this.title}}
                            </h3>
                            <p class="mt-1 text-sm text-gray-500">{{this.description}}</p>
                            <p class="mt-1 text-sm text-gray-500">Categoria: {{this.category}}</p>
                        </div>
                        <div class="flex-shrink-0 flex flex-col">
                            <p class="text-sm font-medium text-gray-900 pr-3">$ {{this.price}}</p>
                            <p data-product-id="{{this._id}}" class="stockQuantity text-sm font-medium text-gray-900 pr-3 mt-auto">stock: {{this.stock}}</p>
                        </div>
                    </div>
                    {{#if this.role}}
                        <button class="bg-red-300 hover:bg-red-400 text-white font-bold py-2 px-4 rounded flex-shrink-0 mt-2">
                            Admin no compra
                        </button>
                    {{else}}
                        <button value="{{this._id}}" class="addToCart bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded flex-shrink-0 mt-2">
                            Agregar al carrito
                        </button>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
        <div class="flex flex-1 justify-between sm:hidden">
            <a href="{{prevLink}}" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Anterior</a>
            <a href="{{nextLink}}" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Siguiente</a>
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
            <div>
            <p class="text-sm text-gray-700">
                Pagina
                <span class="font-medium">{{page}}</span>
                de
                <span class="font-medium">{{totalPages}}</span>
            </p>
            </div>
            <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                <a href="{{prevLink}}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Anterior</span>
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                    </svg>
                </a>
                
                <a href="{{nextLink}}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Siguiente</span>
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    </svg>
                </a>
            </nav>
            </div>
        </div>
        </div>
</div>

<script>
    window.cid = "{{cart_ID}}";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/views.js"></script>