<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto">
            <h2 class="text-2xl font-bold mb-8">Carrito de Compra</h2>
            <div id="productsInCart" class="space-y-4 border-t border-gray-300">
                {{#each cartFinder}}
                    <div div-id="{{this._id}}+{{../cid}}" class="flex items-center justify-between mt-4">
                        <div class="flex items-center space-x-4">
                            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="w-20 h-20 rounded-md">
                            <div>
                                <p class="font-bold">{{this.title}}</p>
                                <p class="text-gray-500">{{this.description}}</p>
                                <p data-product-id="{{this._id}}+{{../cid}}" class="quantityCart text-gray-500">Cantidad: {{this.quantity}}</p>
                                <div class="flex items-center mt-2">
                                    <button class="bg-yellow-300 hover:bg-yellow-500 text-white font-bold py-1 px-2 mx-1 rounded-full" onclick="increaseQuantity('{{this._id}}','{{../cid}}')">➕</button>
                                    <button class="bg-yellow-300 hover:bg-yellow-500 text-white font-bold py-1 px-2 mx-1 rounded-full" onclick="decreaseQuantity('{{this._id}}','{{../cid}}')">➖</button>
                                </div>
                            </div>
                            
                        </div>
                        <p data-product-id="{{this._id}}+{{../cid}}" class="priceCart font-bold">$ {{this.price}}</p>
                    </div>
                {{/each}}
            </div>

            <div class="mt-8 border-t border-gray-300">
                <div class="flex items-center justify-between mt-4">
                    <p  class="text-lg font-bold">Total:</p>
                    <p total-id="{{cid}}" class="text-xl font-bold">$ {{total}}</p>
                </div>
                <div class="flex items-center justify-between">
                    <button id="emptyCart" class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Vaciar Carrito
                    </button>
                    
                    <a href="/views/products" style="text-decoration: none;" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Volver
                    </a>
                    
                    <button id="buy" class="mt-4 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                        Finalizar Compra
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.cid = "{{cid}}";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/views.js"></script>